<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jsjlzj.wayne">
    <!-- 读写文件 -->
    <application
        android:name=".ui.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_r"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_r"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.basis.VideoPlayerActivity"></activity>
        <activity android:name=".ui.basis.WebVideoActivity" />
        <activity android:name=".ui.store.home.mine.ApplySettledInActivity" />
        <activity android:name=".ui.store.home.mine.FactorySettledInActivity" />
        <activity android:name=".ui.store.shopping.LogisticsActivity" />
        <activity android:name=".ui.store.home.mine.AfterSaleApplyActivity" />
        <activity android:name=".ui.store.search.SearchNewCourserActivity" />
        <activity android:name=".ui.store.shopping.ScanLogisticsActivity" />
        <activity android:name=".ui.store.shopping.ShoppingEvaluateActivity" />
        <activity android:name=".ui.store.shopping.OrderDetailActivity" />
        <activity android:name=".ui.store.home.mine.LeaderDesActivity" />
        <activity android:name=".ui.store.home.mine.MineOrderActivity" />
        <activity android:name=".ui.store.personal.set.ModifyPayPasswordActivity" />
        <activity android:name=".ui.store.personal.set.PayForgetPasswordActivity" />
        <activity android:name=".ui.store.home.mine.ManagerBandCardActivity" />
        <activity android:name=".ui.store.home.mine.ApplyLeaderActivity" />
        <activity android:name=".ui.store.home.mine.CurrencyActivity" />
        <activity android:name=".ui.store.find.MoreLessonActivity" />
        <activity android:name=".ui.store.home.mine.CouponActivity" />
        <activity android:name=".ui.store.home.mine.MinePrizeActivity" />
        <activity android:name=".ui.store.home.mine.IntegralDetailActivity" />
        <activity android:name=".ui.store.home.mine.ProfitOrderActivity" />
        <activity android:name=".ui.store.home.mine.CashOutRecordActivity" />
        <activity android:name=".ui.store.home.mine.AddBandCardActivity" />
        <activity android:name=".ui.store.home.mine.CashOutActivity" />
        <activity android:name=".ui.store.home.mine.MineProfitActivity" />
        <activity android:name=".ui.store.find.ConfirmCourserOrderActivity" />
        <activity android:name=".ui.store.shopping.LocationManagerActivity" />
        <activity android:name=".ui.store.shopping.EditLocationActivity" />
        <activity android:name=".ui.store.shopping.PayResultActivity" />
        <activity android:name=".ui.store.shopping.PaymentActivity" />
        <activity android:name=".ui.store.shopping.ConfirmOrderActivity" />
        <activity android:name=".ui.store.shopping.ShoppingCartActivity" />
        <activity android:name=".ui.store.search.SearchShopActivity" />
        <activity android:name=".ui.store.shopping.TimeSecondActivity" />
        <activity android:name=".ui.store.find.PlayHistoryActivity" />
        <activity android:name=".ui.store.home.ContentFragmentTitleActivity" />
        <activity android:name=".ui.store.list.MoreMatchActivity" />
        <activity android:name=".ui.store.home.mine.MessageConnectActivity" />
        <activity android:name=".ui.publicac.MapActivity" />
        <activity android:name=".ui.publicac.ShopPoiActivity" />
        <activity android:name=".ui.publicac.mine.PublicActivity" />
        <activity android:name=".ui.store.home.community.AddExpressionActivity" />
        <activity android:name=".ui.publicac.mine.FillInInfoActivity" />
        <activity android:name=".ui.publicac.mine.PostureAuthenActivity" />
        <activity android:name=".ui.publicac.mine.MineSignUpActivity" />
        <activity android:name=".ui.publicac.mine.MineStudyActivity" />
        <activity android:name=".ui.publicac.mine.MineFavoriteActivity" />
        <activity android:name=".ui.publicac.mine.MineFansActivity" />
        <activity android:name=".ui.publicac.mine.MineDynamicActivity" />
        <activity android:name=".ui.publicac.mine.TrainerAuthenActivity" />
        <activity android:name=".ui.publicac.mine.PersonMineActivity" />
        <activity android:name=".ui.publicac.mine.MineInvitationActivity" />
        <activity android:name=".ui.publicac.mine.InvitationActivity" />
        <activity android:name=".ui.trainer.personal.PositionPreviewNewActivity" />
        <activity android:name=".ui.trainer.personal.MasterCardActivity" />
        <activity android:name=".ui.store.home.study.AnswerCardActivity" />
        <activity android:name=".ui.store.home.study.MockExamActivity" />
        <activity android:name=".ui.store.home.study.AnswerDoneActivity" />
        <activity android:name=".ui.store.home.study.AnswerActivity" />
        <activity android:name=".ui.store.home.study.AchievementRecordActivity" />
        <activity
            android:name=".ui.basis.WebViewContainerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:screenOrientation="fullUser"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".ui.store.home.study.ChapterActivity" />
        <activity android:name=".ui.store.home.study.QuestionBankActivity" />
        <activity android:name=".ui.store.home.amoy.SignUpResultActivity" />
        <activity android:name=".ui.store.home.amoy.SignUpActivity" />
        <activity android:name=".ui.store.home.amoy.HotSchoolActivity" />
        <activity android:name=".ui.publicac.report.ReportContentActivity" />
        <activity android:name=".ui.publicac.report.ReportTypeActivity" />
        <activity android:name=".ui.store.home.recommend.ClassicDetailActivity" />
        <activity android:name=".ui.store.home.recommend.AllClassicActivity" />
        <activity android:name=".ui.publicac.SearchActivity" />
        <activity android:name=".ui.store.personal.set.SetingUpdatePsdActivity" />
        <activity android:name=".ui.store.personal.storeinfo.set.NavigationActivity" />
        <activity android:name=".ui.store.personal.storeinfo.InterviewDetailActivity" />
        <activity android:name=".ui.store.personal.storeinfo.InterviewActivity" />
        <activity android:name=".ui.store.list.MoreDataActivity" />
        <activity
            android:name=".ui.trainer.publicac.ScreenPositionResultActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.store.talent.position.recruit.MapSearchActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sdksample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- 百度key -->
        <activity
            android:name=".ui.yunxin.location.LocationAmapActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/location_map"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- map -->
        <activity
            android:name=".ui.basis.WelcomeActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.basis.JsjlAgreementActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.basis.LoginByPwdActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" /> <!-- 手机验证码登录1  入口 -->
        <!-- 手机号密码登录 -->
        <activity
            android:name=".ui.basis.LoginByPhoneActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" /> <!-- 手机验证码登录1  入口 -->
        <activity
            android:name=".ui.basis.LoginByPhoneSmesActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize" /> <!-- 手机验证码登录2 -->
        <activity
            android:name=".ui.basis.LoginFindPwdActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" /> <!-- 找回密码 -->
        <activity
            android:name=".ui.basis.LoginRoleSelectActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" /> <!-- 教练、门店选择 -->
        <activity
            android:name=".ui.basis.RegisterActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" /> <!-- 注册 -->
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden"> <!-- ********************************门店选择******************************************* -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- 下面所设置的data值需要和html端对应 -->
                <!-- 在data里设置了 scheme和host，则该Activity可以接收和处理类似于 "ibitview://ibitimage/user/detail"的链接 -->
                <data
                    android:host="welcome"
                    android:scheme="coachapp" />
            </intent-filter>
        </activity> <!-- *************************************************************************** -->
        <!-- 主页面 -->
        <activity
            android:name=".ui.yunxin.fragment.P2PMessageActivity2"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- 聊天室 -->
        <activity
            android:name=".ui.store.talent.utilac.ScreenLabActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- 搜索结果 -->
        <!-- 筛选  选择 -->
        <activity
            android:name=".ui.store.talent.utilac.ScreenActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" /> <!-- 搜索结果 -->
        <!-- android:windowSoftInputMode="adjustUnspecified|stateHidden" -->
        <!-- android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize" -->
        <activity
            android:name=".ui.store.talent.position.PositionInfoActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" /> <!-- 职位详情 -->
        <activity
            android:name=".ui.store.talent.position.PositionSelectActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" /> <!-- 职位选择  发布、关闭 -->
        <activity
            android:name=".ui.store.talent.position.RecruitActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" /> <!-- 招聘发布 ********************************************** -->
        <activity
            android:name=".ui.store.talent.position.recruit.RecruitContentActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" /> <!-- 招聘  职位描述 -->
        <activity
            android:name=".ui.store.talent.position.recruit.RecruitSkillActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" /> <!-- 招聘  技能标签选择 -->
        <activity
            android:name=".ui.store.talent.position.recruit.RecruitTypeActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" /> <!-- 招聘 职位类型 -->
        <activity
            android:name=".ui.store.talent.position.recruit.RecruitCoordinateSelectActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" /> <!-- 招聘 俱乐部地址设置 -->
        <activity
            android:name=".ui.store.talent.position.recruit.coordinate.MapActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" /> <!-- 招聘 地图 -->
        <activity
            android:name=".ui.yunxin.location.MessageMapActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.publicac.AddressActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.store.attestation.AttestationActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" /> <!-- 招聘发布 ********************************************** -->
        <!-- 地址选择 -->
        <activity
            android:name=".ui.store.attestation.AttestationInfoActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" /> <!-- 认证 -->
        <activity
            android:name=".ui.store.personal.set.PersonalInfoSetActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" /> <!-- 认证详情 -->
        <activity
            android:name=".ui.store.personal.set.SetingActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" /> <!-- 设置 ********************************************** -->
        <activity
            android:name=".ui.store.personal.set.SetingPasswordActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.store.personal.set.SetingPhoneActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.store.personal.set.SetingWeChatActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.store.personal.manage.ConnectListActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.store.personal.manage.InterviewListActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.publicac.about.AboutUsActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.publicac.help.HelpActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.publicac.help.HelpFeedbackProblemActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.publicac.help.HelpProblemInfoActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.store.personal.set.ChangeUserInfoActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.store.personal.storeinfo.StoreInfoSetActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.store.personal.storeinfo.set.StoreContentActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.store.personal.storeinfo.set.StoreTimeActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.store.personal.storeinfo.set.StoreWelfareActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.trainer.publicac.AddJobIntentionActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.trainer.publicac.JobIntentionActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" /> <!-- 教练端 -->
        <activity
            android:name=".ui.trainer.publicac.PositionInfoStoreActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.trainer.personal.set.PersonalInfoSetTrainerActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.trainer.personal.set.ConnectPositionListActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.trainer.personal.set.InterviewPositionListActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.trainer.personal.TrainerInfoSetActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.trainer.publicac.AdvantageActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.trainer.publicac.AddExpActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.trainer.publicac.AddEducationActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.store.talent.utilac.ScreenResultActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.store.personal.storeinfo.set.StoreInfoPreviewActivity"
            android:configChanges="locale|keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".ui.trainer.personal.PositionPreviewActivity" />
        <activity android:name=".ui.trainer.personal.set.CollectStoresActivity" />
        <activity android:name=".ui.trainer.publicac.PositionPhotoActivity" />
        <activity android:name=".ui.store.personal.storeinfo.set.StorePhotoActivity" />
        <activity
            android:name="com.vivo.push.sdk.LinkProxyClientActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".ui.store.personal.storeinfo.ImageViewActivity" /> <!-- 百度key -->
        <activity android:name=".ui.basis.WebViewActivity" /> <!-- 云信后台服务，请使用独立进程。 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="OWi5ffyRIRixathZqvRa8DVfmqlvaFFM" /> <!-- 云信后台辅助服务 -->
        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="bf5606a5ce653fa3aa7cbcec86d7262e" /> <!-- 云信后台辅助服务 -->
        <meta-data
            android:name="com.vivo.push.api_key"
            android:value="d672356f-0392-4ada-8187-d06799acfdee" /> <!-- 云信监视系统启动和网络变化的广播接收器，保持和 NimService 同一进程 -->
        <meta-data
            android:name="com.vivo.push.app_id"
            android:value="15371" /> <!-- 云信进程间通信 Receiver -->
        <provider
            android:name="com.netease.nimlib.ipc.NIMContentProvider"
            android:authorities="com.jsjlzj.wayne.ipc.provider"
            android:exported="false"
            android:process=":core" /> <!-- 云信进程间通信service -->
        <receiver
            android:name="com.netease.nimlib.service.NimReceiver"
            android:exported="false"
            android:process=":core">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver> <!-- 云信进程间通信provider -->
        <!-- android:authorities="{包名}.ipc.provider", 请将com.netease.nim.demo替换为自己的包名 -->
        <receiver android:name="com.netease.nimlib.service.ResponseReceiver" /> <!-- 云信推送   小米 -->
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":mixpush">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver> <!-- 注：此service必须在3.0.1版本以后（包括3.0.1版本）加入 -->
        <receiver
            android:name="com.netease.nimlib.mixpush.mi.MiPushReceiver"
            android:exported="true">
            <intent-filter android:priority="0x7fffffff">
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ui.yunxin.push.MiPushMessageReceiver">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver> <!-- 注：此service必须在2.2.5版本以后（包括2.2.5版本）加入 -->
        <receiver android:name="com.netease.nimlib.mixpush.mz.MZPushReceiver">
            <intent-filter android:priority="0x7fffffff">

                <!-- 接收push消息 -->
                <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
                <!-- 接收register消息 -->
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" />
                <!-- 接收unregister消息 -->
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK" />
                <!-- 兼容低版本Flyme3推送服务配置 -->
                <action android:name="com.meizu.c2dm.intent.REGISTRATION" />
                <action android:name="com.meizu.c2dm.intent.RECEIVE" />

                <category android:name="com.jsjlzj.wayne" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ui.yunxin.push.MeiZuPushReceiver">
            <intent-filter>
                <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" />
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.netease.nimlib.mixpush.vivo.VivoPushReceiver">
            <intent-filter>

                <!-- 接收 push 消息 -->
                <action android:name="com.vivo.pushclient.action.RECEIVE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ui.yunxin.push.VivoPushMessageReceiver">
            <intent-filter>
                <action android:name="com.vivo.pushclient.action.RECEIVE" />
            </intent-filter>
        </receiver> <!-- 云信推送   华为 -->
        <!-- <provider -->
        <!-- android:name="com.huawei.hms.update.provider.UpdateProvider" -->
        <!-- android:authorities="com.jsjlzj.wayne.hms.update.provider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true"></provider> -->
        <!-- 云信推送   魅族 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":core" /> <!-- 云信推送   vivo -->
        <service
            android:name="com.netease.nimlib.service.NimService$Aux"
            android:process=":core" />
        <service
            android:name="com.netease.nimlib.job.NIMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":core" />
        <service android:name="com.netease.nimlib.service.ResponseService" />
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":mixpush" />
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":mixpush" />
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" /> <!-- 云信推送   oppo -->
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" /> <!-- <receiver -->
        <!-- android:name=".ui.yunxin.push.CustomNotificationReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.jsjlzj.wayne.ACTION.RECEIVE_CUSTOM_NOTIFICATION"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <service
            android:name="com.vivo.push.sdk.service.CommandClientService"
            android:exported="true" />
        <service
            android:name="com.netease.nimlib.mixpush.oppo.OppoPushService"
            android:permission="com.coloros.mcs.permission.SEND_MCS_MESSAGE">
            <intent-filter>
                <action android:name="com.coloros.mcs.action.RECEIVE_MCS_MESSAGE" />
            </intent-filter>
        </service>
    </application>
    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <permission
        android:name="com.jsjlzj.wayne.permission.RECEIVE_MSG"
        android:protectionLevel="signature" />
    <permission
        android:name="com.jsjlzj.wayne.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <permission
        android:name="com.jsjlzj.wayne.push.permission.MESSAGE"
        android:protectionLevel="signature" />

    <permission
        android:name="com.jsjlzj.wayne.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- Required -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Optional for location -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESFENT" /> <!-- 多媒体相关 -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 和下面的 uses-permission 一起加入到你的 AndroidManifest 文件中。 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 接收 SDK 消息广播权限， 第三方 APP 接入时，请将 com.netease.nim.demo 替换为自己的包名 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 配置权限，已经配置过的条目则无须添加 -->
    <!-- 小米推送 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 魅族推送 -->
    <!-- 兼容flyme5.0以下版本，魅族内部集成pushSDK必填，不然无法收到消息，将{你的包名} 改开发者App的包名 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 兼容flyme3.0配置权限 -->
    <uses-permission android:name="com.jsjlzj.wayne.permission.RECEIVE_MSG" />
    <uses-permission android:name="com.jsjlzj.wayne.permission.MIPUSH_RECEIVE" />
    <uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE" />
    <uses-permission android:name="com.jsjlzj.wayne.push.permission.MESSAGE" />
    <uses-permission android:name="com.meizu.c2dm.permission.RECEIVE" />

    <uses-permission android:name="com.jsjlzj.wayne.permission.C2D_MESSAGE" />

    <dist:module dist:instant="true" />

</manifest>